.modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: calc(100% - 2rem);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  padding: var(--space-lg);
  left: 1rem;
  top: 30%;
  transition: all 0.3s ease-out;
}

@media (--min-width-md) {
  .modal {
    width: 37.5rem;
    left: calc(50% - 18.75rem);
  }
}
