.offerPreview {
  display: flex;
  width: 100%;
  color: var(--main-text-color);
}

.offerPreview_media {

}

.offerPreview_img {
  width: 18.75rem;
  height: 12.5rem;
  object-fit: cover;
}

.offerPreview_content {
  flex-grow: 1;
  padding: var(--space-md);
}

.offerPreview_title {
  transition: color ease-out 0.2s;
}

a:hover .offerPreview_title,
a:focus .offerPreview_title {
  color: var(--link-color);
}

.offerPreview_date {
  color: var(--mute-text-color);
}

.offerPreviewSmall {
  min-height: 8.75rem;

  & .offerPreview_img {
    width: 12rem;
    height: 100%;
  }

  & .offerPreview_title {
    font-size: 1.2rem;
  }
}
